<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${post.title}">Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="postInHash">
            <nav class="main-content__nav posts__nav">
                <h2 th:each="hashtag: ${post.hashtags}">
                     <a th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                       class="posts__nav-link">Post</a></h2>
                <h6 th:text="'Author: ' + ${post.author}"></h6>
<!--                <h6 th:text="${post.date}"></h6>-->
                <p th:text="${post.content}" class="post__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque blanditiis, aut quae fuga id quis ut.
                    Eligendi necessitatibus blanditiis officia, odio deleniti natus molestiae fugiat ex quod vel aliquam illum.
                </p>

<!--                <div th:each="comment: ${commentList}">-->
<!--                    <span>Comment: </span>-->
<!--                    <p th:text="${comment.name}"></p>-->
<!--                </div>-->
<!--                <div th:each="hashtag:${hashtags}">-->
<!--                    <p th:text="${hashtag.name}">hashtag</p>-->
<!--                </div>-->

                <div class="formDiv">
                    <form th:action="'/addHashtag/' + ${post.id}" method="POST">
                        <label for="tagBox">Enter Hashtag: </label>
                        <input type="text" id="tagBox" name="newHashtag">
                        <button type="submit">Add Hashtag</button>
                    </form>

                    <form th:action="'/posts/addcomment/' + ${post.id}" method="POST">
                        <label for="commentBox">Enter Comment: </label>
                        <input type="text" id="commentBox" name="newComment">
                        <button type="submit">Add Comment</button>
                    </form>

                </div>

            </nav>
        </section>
    </main>
</div>
</body>
</html>